<div style="text-align:center;color:black;">
  <h2>About the Gallery</h2>
  <p>Esta es una galería que muestra las imágenes, está hecha en Ruby on Rails y es para mostrársela al profe Bryan! uwu</p>
  <a href="<%= root_path %>">Volver a la página de inicio</a>
</div>
